.tasks-container {
    display: flex;
    flex-direction: row;
    margin: 22px;
}

.task-container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin: 25px;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-header p {
    font-weight: 600;
    font-size: 14px;
}

.task-header span {
    font-weight: 800;
    font-size: 10px;
    border-radius: 16px;
    padding: 3px 7px;
    margin: auto 13px
}

.task-list {
    margin: 20px 0px;
}

.task-footer {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .tasks-container{
        flex-direction: column;
        align-items: center;
    }
}