.project-head p{
    font-size: 12px;
    color: var(--grey300);
}

.project-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0px;
}

.project-head img{
    margin-top: auto;
    margin-bottom: auto;
}

.projects{
    border-bottom: 1px solid var(--grey60);
}