.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey60);
    padding-bottom: 32px;
}

.user-image img{
    position: absolute;
    width: 50px;
}

.user-avatar{
    width: 40px;
}

.user-name p{
    font-size: 12px;
}

.user-name {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-designation{
    color: var(--grey200);
}

.user-arrow-image{
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}