*{
  margin: 0px;
  padding: 0px;
  --grey20: #F7F8FA;
  --grey50: #EBEEF2;
  --grey60: #E9EBF0;
  --grey200: #B8BFCC;
  --grey300: #98A2B3;;
  --grey400: #7A8699;
  --grey500: #606C80;
  --grey300: #98A2B3;
  --grey700: #323C4D;
  --yellow600: #CA8A04;
  --primary600: #2563EB;
  --sky600: #17A5E6;
  --pink600: #DB2777;
  
}

@media only screen and (max-width: 1200px) {
  .App{
    flex-direction: column;
  }
  
  .vanish{
    display: none;
  }
}
